.test {
    -fx-min-width: 300px;
    -fx-min-height: 300px;
}
.background_top_menu {
    -fx-background-color: #2F3597;
}
.top_pane_color {
    -fx-background-color: #424EB4;
}
.add_button {
    -fx-background-color: #FD3E80;
    -fx-background-radius: 75, 75;
    -fx-background-insets: -1.7, 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("../images/cross.png");
}
.add_button_inner {
    -fx-background-radius: 75, 75;
    -fx-background-insets: -1.7, 0;
    -fx-padding: 0;
    -fx-font-size: 0;
    -fx-underline: false;
}
.top_menu_button {
    -fx-background-color: #2F3597;
}
.close_window_button {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/close.png");
    -fx-background-size: 10px;
    -fx-background-insets: 0, 0;
    -fx-border-radius: 0px 0px;
    -fx-border-color: #2F3597;
    -fx-background-color: #2F3597;
}
.close_window_button:hover{
    -fx-background-color: rgb(208, 73, 55);
}
.close_window_button:pressed{
    -fx-background-color: red;
}
.minimize_window_button {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/minus.png");
    -fx-background-size: 10px;
    -fx-background-insets: 0, 0;
    -fx-border-radius: 0;
    -fx-border-color: #2F3597;
    -fx-background-color: #2F3597;
}
.minimize_window_button:hover{
    -fx-background-color: #9b9caf;
}
.logo {
    -fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/logo.png");
    -fx-background-position: center;
}
.menu_button {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/menu.png");
    -fx-background-position: center;
    -fx-border-radius: 0;
    -fx-border-color: #424EB4;
    -fx-background-color: #424EB4;
}
.start_scan_button {
    -fx-background-color: #FFFFFF;
}
.global_background {
    -fx-background-color: #FFFFFF;
}